body{
  background-color: darkgreen;
  color : white;
}
/* Add a black background color to the top navigation */
.navbar {
  margin-top: 5%;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  color  : white;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: teal;
  background-color: white;
  border-radius: 20px;
}
/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

#SignUp, #Login{
    margin-top: 10%;
    align-items: center;
    text-align: center;
    align-self: center;

}
form{
  border : 2px dashed darkorange;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  margin-bottom: 10%;
}
label{
  font-size: 2em;
}
input, select, option{
  padding : 10px;
  outline: none;
  font-weight: bolder;
  color : black;
  margin-bottom: 20px;
  border: 2px solid darkgreen;
  border-radius: 20px;
  width : 25%;
  box-shadow: 3px 3px 3px 3px yellow;
}
input:focus{
  box-shadow: 2px 2px 2px 2px yellow;
  background-color: lightblue;
  width : 35%;
}
.country{
  margin-bottom : 20px;
  padding : 10px;
}
#formbtncontainer{
  display: inline-block;
}
.formbtn{
  padding : 10px;
  font-size: 2em;
  font-weight: bolder;
  background-color: lightgreen;
  border-radius: 20px;
  outline: none;
  box-shadow: 3px 3px 3px  darkgreen;
  margin-bottom: 5%;

}
.formbtn:active{
  box-shadow: none;
}
.formMain{
  display: inline;
  width : 49%;
  height : 10%;
  font-size: 2em;
  border-radius: 10px;
  background-color: lightgreen;
  outline : none;
  margin-bottom: 10%;

}
#forgot{
  display: table-cell;
  color : white;
  font-size: 20px;
}
