h1{
  height: 90px;
  font-size: 90px;
  text-align: center;
}
button {
  outline: none;
}
button:hover{
  cursor: pointer;

}
.btn_menu{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width : 50px;
  font-size: 25px;
  height : 50px;
  background-color : black;
  color : white;
  border-radius: 10px;
  margin : 5px;
  border: none;
}
.btn_menu:hover, .btn:focus{
  color : black;
  background-color: gold;
  border-color: black;
  transition-delay: 0.09s;
box-shadow:  0 4px 8px 0 lightyellow;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:url("14808.jpg");
  background-repeat: repeat-y;
  color : yellow;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;

}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 yellow; /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  font-weight: 500;
  background-color: rgba(rgba(255, 100, 180, 0.5););
  border : none;
  margin-top : 20px;
  filter: grayscale(70%);
}
.card:hover{
  filter : grayscale(0%);

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

img{
  width : 50%;
  height : 50%;
  border : none;
  border-radius : 90px;
  opacity: 70%;
}
.d, .w{
  border: none;
  border-radius: 20px;
  padding : 10px;
  color : #d8cdcd;
}
.d{
  background-color: green;
}
.w{
  background-color: blue;
}

.d:hover, .w:hover, img:hover{
  box-shadow: 5px 1px 8px 0 grey;
  font-weight: 400;
}
ul{
  list-style-type: none;
}
li {
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: #343a40;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #F0F0F0	;
  border-radius: 20px;
}
